<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/save">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="mail">Mail:</label><br>
  <input type="text" id="mail" name="mail" value=""><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone" value=""><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass" value=""><br>


  <input type="submit" value="Submit"><br>
</form> 

<br><br>

<form action="/delate">
  <label for=id>ID:</label><br>
  <input type="number" id="id" name="id" value=""><br>

  <input type="submit" value="Submit"><br>
</form> 

<br><br><br><br>

<form action="/showtable">
  <input type="submit" value="Show Table"><br>
</form> 

<br><br><br>
<form action="/edit">
  <label for="id">ID:</label><br>
  <input type="number" id="id" name="id" value=""><br>
  <label for="fname1">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname1">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="mail">Mail:</label><br>
  <input type="text" id="mail" name="mail" value=""><br>
  <label for="phone">Phone number:</label><br>
  <input type="text" id="phone" name="phone" value=""><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass" value=""><br>


  <input type="submit" value="Edit"><br>
</form> 





</body>
</html>